# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('bab5cf18f9.csv')
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [3]:
# as variáveis e os tipos de dados de cada variáveis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [5]:
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [6]:
# quantidade de missings

In [7]:
df.shape

(16650, 16)

In [8]:
df.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [9]:
# distribuição da variável resposta (mau)

In [10]:
df.mau.value_counts()

False    16260
True       390
Name: mau, dtype: int64

In [11]:
df.mau.value_counts(normalize=True)

False    0.976577
True     0.023423
Name: mau, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [12]:
# crie um df com os nomes de cada variável e o tipo de dados de cada variável

In [13]:
metadados=pd.DataFrame(df.dtypes, columns=['tipo'])
metadados

                          tipo
sexo                    object
posse_de_veiculo        object
posse_de_imovel         object
qtd_filhos               int64
tipo_renda              object
educacao                object
estado_civil            object
tipo_residencia         object
idade                  float64
tempo_emprego          float64
possui_celular           int64
possui_fone_comercial    int64
possui_fone              int64
possui_email             int64
qt_pessoas_residencia  float64
mau                       bool

In [14]:
# Adicione uma coluna nesse dataframe chamada "qtd_categorias" e 
# coloque nela o número de categorias correspondente de cada variável.

metadados['qtd_categorias']=0

for var in metadados.index:
    metadados.loc[var,'qtd_categorias']=len(df.groupby([var]).size())

metadados

                          tipo  qtd_categorias
sexo                    object               2
posse_de_veiculo        object               2
posse_de_imovel         object               2
qtd_filhos               int64               8
tipo_renda              object               5
educacao                object               5
estado_civil            object               5
tipo_residencia         object               6
idade                  float64            5298
tempo_emprego          float64            3005
possui_celular           int64               1
possui_fone_comercial    int64               2
possui_fone              int64               2
possui_email             int64               2
qt_pessoas_residencia  float64               9
mau                       bool               2

In [15]:
# Crie variáveis dummy para as variáveis necessárias
# (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}

In [16]:
print(df['sexo'].unique())
print(df['posse_de_veiculo'].unique())
print(df['posse_de_imovel'].unique())
print(df['tipo_renda'].unique())
print(df['educacao'].unique())
print(df['estado_civil'].unique())
print(df['tipo_residencia'].unique())

['M' 'F']
['Y' 'N']
['Y' 'N']
['Working' 'Commercial associate' 'State servant' 'Pensioner' 'Student']
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
['Married' 'Single / not married' 'Civil marriage' 'Widow' 'Separated']
['House / apartment' 'Rented apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']

In [20]:
df['sexo_masculino'] = pd.get_dummies(df['sexo'],drop_first=True) # Feminino = 0 e Masculino = 1
df['veiculo_yes'] = pd.get_dummies(df['posse_de_veiculo'],drop_first=True) # sem_veículo = 0 e com_veiculo = 1
df ['imovel_yes'] = pd.get_dummies(df['posse_de_veiculo'],drop_first=True) # sem_imóvel = 0 e com_imóvel = 1

dummies_renda=pd.get_dummies(df['tipo_renda'],drop_first=False) # variáveis: working, commercil associate, state servant, pensioner, student.
df2=pd.concat([df, dummies_renda], axis=1)

dummies_educ=pd.get_dummies(df['educacao'],drop_first=False) # 5 variáveis
df3=pd.concat([df2, dummies_educ], axis=1)


dummies_estciv=pd.get_dummies(df['estado_civil'],drop_first=False) # 4 variáveis
df4=pd.concat([df3, dummies_estciv], axis=1)


dummies_tresid=pd.get_dummies(df['tipo_residencia'],drop_first=False) # 6 variáveis
df5=pd.concat([df4, dummies_tresid], axis=1)
df5.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,...,Married,Separated,Single / not married,Widow,Co-op apartment,House / apartment,Municipal apartment,Office apartment,Rented apartment,With parents
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,...,1,0,0,0,0,1,0,0,0,0
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,...,0,0,1,0,0,1,0,0,0,0
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,...,0,0,1,0,0,1,0,0,0,0
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,...,1,0,0,0,0,1,0,0,0,0
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,...,1,0,0,0,0,1,0,0,0,0

In [23]:
df5.columns

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau',
       'sexo_masculino', 'veiculo_yes', 'imovel_yes', 'Commercial associate',
       'Pensioner', 'State servant', 'Student', 'Working', 'Academic degree',
       'Higher education', 'Incomplete higher', 'Lower secondary',
       'Secondary / secondary special', 'Civil marriage', 'Married',
       'Separated', 'Single / not married', 'Widow', 'Co-op apartment',
       'House / apartment', 'Municipal apartment', 'Office apartment',
       'Rented apartment', 'With parents'],
      dtype='object')

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [25]:
# as variáveis dummy foram criadas no item anterior.
# Crie um dataframe apenas com as variáveis apropriadas para entrada no scikitlearn.

df_dummies = df5[['sexo_masculino', 'veiculo_yes', 'imovel_yes', 'Commercial associate',
       'Pensioner', 'State servant', 'Student', 'Working', 'Academic degree',
       'Higher education', 'Incomplete higher', 'Lower secondary',
       'Secondary / secondary special', 'Civil marriage', 'Married',
       'Separated', 'Single / not married', 'Widow', 'Co-op apartment',
       'House / apartment', 'Municipal apartment', 'Office apartment',
       'Rented apartment', 'With parents','idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau']]
df_dummies.head()

,sexo_masculino,veiculo_yes,imovel_yes,Commercial associate,Pensioner,State servant,Student,Working,Academic degree,Higher education,...,Rented apartment,With parents,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,1,1,1,0,0,0,0,1,0,0,...,0,0,58.832877,3.106849,1,0,0,0,2.0,False
1,0,0,0,1,0,0,0,0,0,0,...,0,0,52.356164,8.358904,1,0,1,1,1.0,False
2,0,0,0,1,0,0,0,0,0,0,...,0,0,52.356164,8.358904,1,0,1,1,1.0,False
3,1,1,1,0,0,0,0,1,0,1,...,0,0,46.224658,2.106849,1,1,1,1,2.0,False
4,0,1,1,0,0,0,0,1,0,0,...,0,0,29.230137,3.021918,1,0,0,0,2.0,False

In [33]:
df_scikitlearn = df_dummies.rename({'Commercial associate': 'renda_comercial_associate',
       'Pensioner': 'renda_pensioner', 'State servant':'renda_state_servant',
       'Student':'renda_student', 'Working':'renda_working','Academic degree':'educ_academic_degree',
       'Higher education':'educ_higher_education', 'Incomplete higher':'educ_incomplete_higher',
       'Lower secondary':'educ_lower_secondary','Secondary / secondary special':'educ_secondary',
       'Civil marriage':'estciv_civil_marriage', 'Married':'estciv_married',
       'Separated':'estciv_separated', 'Single / not married':'estciv_single', 'Widow':'estciv_widow',
        'Co-op apartment':'resid_co-op_apartment','House / apartment':'resid_house_apartment',
        'Municipal apartment':'resid_municipal_apartment', 'Office apartment':'resid_office_apartment',
        'Rented apartment':'resid_rented_apartment', 'With parents':'resid_with_parents'},
        axis=1)

df_scikitlearn.head()

,sexo_masculino,veiculo_yes,imovel_yes,renda_comercial_associate,renda_pensioner,renda_state_servant,renda_student,renda_working,educ_academic_degree,educ_higher_education,...,resid_rented_apartment,resid_with_parents,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,1,1,1,0,0,0,0,1,0,0,...,0,0,58.832877,3.106849,1,0,0,0,2.0,False
1,0,0,0,1,0,0,0,0,0,0,...,0,0,52.356164,8.358904,1,0,1,1,1.0,False
2,0,0,0,1,0,0,0,0,0,0,...,0,0,52.356164,8.358904,1,0,1,1,1.0,False
3,1,1,1,0,0,0,0,1,0,1,...,0,0,46.224658,2.106849,1,1,1,1,2.0,False
4,0,1,1,0,0,0,0,1,0,0,...,0,0,29.230137,3.021918,1,0,0,0,2.0,False

In [34]:
df_scikitlearn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sexo_masculino             16650 non-null  uint8
 1   veiculo_yes                16650 non-null  uint8
 2   imovel_yes                 16650 non-null  uint8
 3   renda_comercial_associate  16650 non-null  uint8
 4   renda_pensioner            16650 non-null  uint8
 5   renda_state_servant        16650 non-null  uint8
 6   renda_student              16650 non-null  uint8
 7   renda_working              16650 non-null  uint8
 8   educ_academic_degree       16650 non-null  uint8
 9   educ_higher_education      16650 non-null  uint8
 10  educ_incomplete_higher     16650 non-null  uint8
 11  educ_lower_secondary       16650 non-null  uint8
 12  educ_secondary             16650 non-null  uint8
 13  estciv_civil_marriage      16650 non-null  uint8
 14  estciv_married             16650 non-null  uint8
 15  estciv_separated           16650 non-null  uint8
 16  estciv_single              16650 non-null  uint8
 17  estciv_widow               16650 non-null  uint8
 18  resid_co-op_apartment      16650 non-null  uint8
 19  resid_house_apartment      16650 non-null  uint8
 20  resid_municipal_apartment  16650 non-null  uint8
 21  resid_office_apartment     16650 non-null  uint8
 22  resid_rented_apartment     16650 non-null  uint8
 23  resid_with_parents         16650 non-null  uint8
 24  idade                      16650 non-null  float64
 25  tempo_emprego              16650 non-null  float64
 26  possui_celular             16650 non-null  int64
 27  possui_fone_comercial      16650 non-null  int64
 28  possui_fone                16650 non-null  int64
 29  possui_email               16650 non-null  int64
 30  qt_pessoas_residencia      16650 non-null  float64
 31  mau                        16650 non-null  bool
dtypes: bool(1), float64(3), int64(4), uint8(24)
memory usage: 1.3 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [46]:
freq2=pd.crosstab(df_scikitlearn['possui_email'], df_scikitlearn['veiculo_yes'])

freq2

veiculo_yes      0     1
possui_email
0             9341  5829
1              837   643

Conclusão: a variável 'posse_de_veículo' é a mais poderosa para prever a probabilidade de mau=1, visto que a condição de possuir veículo apresenta maior numeros de eventos do que a condição de possuir e-mail.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [47]:
df.to_csv('df_scikitlearn')