# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

dados= [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

alteraçãotemp_sem_index= pd.Series(data=dados)

alteraçãotemp_sem_index

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui

indice=['1900', '1920', '1940', '1960', '1980', '2000', '2020']

dados= [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

alteraçãotemp_com_index= pd.Series(data=dados, index=indice)

alteraçãotemp_com_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temperaturasSeries = pd.Series(dic_temperaturas)

dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

valores= pd.DataFrame(data=arr)

valores

             0           1           2
0    78.657529   83.796465   96.792297
1   114.591654  110.743346   95.008862
2   113.732527   84.653445  120.260934
3    83.148999  101.327035   96.529555
4    94.127072   98.267665  105.659122
5   100.591259   94.447183   84.034607
6    84.377619  119.846821   99.681939
7    90.789373   87.559434   87.611241
8   110.325780  106.420232  104.157200
9    85.734047   88.652463   83.177944
10  120.791630   80.011092  100.267501
11   99.986621   84.639747  117.356047
12   87.975925   89.082120   93.675814
13   89.473225   95.241415   84.652099
14   98.972662  118.918543   99.009576
15  105.729936   81.427370   99.510773
16  108.804752   96.840003   82.178335
17   99.239528   98.204940   89.124127
18  111.825380   93.846624   98.802131
19   91.397247   96.484108  128.227032

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui

indice=['1', '2','3','4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

valores=pd.DataFrame(data=arr, index=indice, columns=['x1','x2','x3'])


valores

            x1          x2          x3
1    78.657529   83.796465   96.792297
2   114.591654  110.743346   95.008862
3   113.732527   84.653445  120.260934
4    83.148999  101.327035   96.529555
5    94.127072   98.267665  105.659122
6   100.591259   94.447183   84.034607
7    84.377619  119.846821   99.681939
8    90.789373   87.559434   87.611241
9   110.325780  106.420232  104.157200
10   85.734047   88.652463   83.177944
11  120.791630   80.011092  100.267501
12   99.986621   84.639747  117.356047
13   87.975925   89.082120   93.675814
14   89.473225   95.241415   84.652099
15   98.972662  118.918543   99.009576
16  105.729936   81.427370   99.510773
17  108.804752   96.840003   82.178335
18   99.239528   98.204940   89.124127
19  111.825380   93.846624   98.802131
20   91.397247   96.484108  128.227032

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
# seu código aqui

valores['media']= (valores['x1']+valores['x2']+valores['x3'])/3

valores

            x1          x2          x3       media
1    78.657529   83.796465   96.792297   86.415430
2   114.591654  110.743346   95.008862  106.781287
3   113.732527   84.653445  120.260934  106.215635
4    83.148999  101.327035   96.529555   93.668530
5    94.127072   98.267665  105.659122   99.351286
6   100.591259   94.447183   84.034607   93.024350
7    84.377619  119.846821   99.681939  101.302126
8    90.789373   87.559434   87.611241   88.653349
9   110.325780  106.420232  104.157200  106.967737
10   85.734047   88.652463   83.177944   85.854818
11  120.791630   80.011092  100.267501  100.356741
12   99.986621   84.639747  117.356047  100.660805
13   87.975925   89.082120   93.675814   90.244620
14   89.473225   95.241415   84.652099   89.788913
15   98.972662  118.918543   99.009576  105.633593
16  105.729936   81.427370   99.510773   95.556026
17  108.804752   96.840003   82.178335   95.941030
18   99.239528   98.204940   89.124127   95.522865
19  111.825380   93.846624   98.802131  101.491378
20   91.397247   96.484108  128.227032  105.369462

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [13]:
# seu código aqui

valores['log_med'] = np.log(valores['media'])
valores

            x1          x2          x3       media   log_med
1    78.657529   83.796465   96.792297   86.415430  4.459166
2   114.591654  110.743346   95.008862  106.781287  4.670783
3   113.732527   84.653445  120.260934  106.215635  4.665471
4    83.148999  101.327035   96.529555   93.668530  4.539762
5    94.127072   98.267665  105.659122   99.351286  4.598662
6   100.591259   94.447183   84.034607   93.024350  4.532861
7    84.377619  119.846821   99.681939  101.302126  4.618107
8    90.789373   87.559434   87.611241   88.653349  4.484734
9   110.325780  106.420232  104.157200  106.967737  4.672527
10   85.734047   88.652463   83.177944   85.854818  4.452658
11  120.791630   80.011092  100.267501  100.356741  4.608731
12   99.986621   84.639747  117.356047  100.660805  4.611756
13   87.975925   89.082120   93.675814   90.244620  4.502524
14   89.473225   95.241415   84.652099   89.788913  4.497462
15   98.972662  118.918543   99.009576  105.633593  4.659976
16  105.729936   81.427370   99.510773   95.556026  4.559713
17  108.804752   96.840003   82.178335   95.941030  4.563734
18   99.239528   98.204940   89.124127   95.522865  4.559366
19  111.825380   93.846624   98.802131  101.491378  4.619974
20   91.397247   96.484108  128.227032  105.369462  4.657473