# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito. 
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [1]:
import pandas as pd

In [2]:
propostas = pd.read_csv('application_record.csv')
pg = pd.read_csv('pagamentos_largo.csv')

In [3]:
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C

In [4]:
pg.shape

(20937, 26)

In [5]:
pg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20937 entries, 0 to 20936
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20937 non-null  int64
 1   mes_0   20937 non-null  object
 2   mes_1   19216 non-null  object
 3   mes_10  17455 non-null  object
 4   mes_11  16972 non-null  object
 5   mes_12  16943 non-null  object
 6   mes_13  16540 non-null  object
 7   mes_14  16525 non-null  object
 8   mes_15  16155 non-null  object
 9   mes_16  16093 non-null  object
 10  mes_17  15911 non-null  object
 11  mes_18  15630 non-null  object
 12  mes_19  15336 non-null  object
 13  mes_2   19348 non-null  object
 14  mes_20  15184 non-null  object
 15  mes_21  15076 non-null  object
 16  mes_22  14797 non-null  object
 17  mes_23  14598 non-null  object
 18  mes_24  14433 non-null  object
 19  mes_3   18925 non-null  object
 20  mes_4   18802 non-null  object
 21  mes_5   18512 non-null  object
 22  mes_6   18214 non-null  object
 23  mes_7   17762 non-null  object
 24  mes_8   17741 non-null  object
 25  mes_9   17510 non-null  object
dtypes: int64(1), object(25)
memory usage: 4.2+ MB

In [6]:
# 1) Marcar default no mês
# Seu código aqui

pg.columns

Index(['ID', 'mes_0', 'mes_1', 'mes_10', 'mes_11', 'mes_12', 'mes_13',
       'mes_14', 'mes_15', 'mes_16', 'mes_17', 'mes_18', 'mes_19', 'mes_2',
       'mes_20', 'mes_21', 'mes_22', 'mes_23', 'mes_24', 'mes_3', 'mes_4',
       'mes_5', 'mes_6', 'mes_7', 'mes_8', 'mes_9'],
      dtype='object')

In [7]:
pg_v= pg.isin(['2','3', '4', '5'])

pg_v.columns=['ID', 'default_0','default_1', 'default_10', 'default_11', 'default_12', 'default_13',
                    'default_14', 'default_15', 'default_16', 'default_17', 'default_18', 'default_19', 
                    'default_2','default_20', 'default_21', 'default_22', 'default_23', 'default_24',
                    'default_3', 'default_4','default_5', 'default_6', 'default_7', 'default_8', 'default_9']

pg_default=pg_v[['ID', 'default_0','default_1', 'default_2','default_3', 'default_4','default_5', 'default_6',
            'default_7','default_8', 'default_9','default_10', 'default_11', 'default_12', 'default_13',
            'default_14','default_15', 'default_16', 'default_17', 'default_18', 'default_19','default_20',
            'default_21', 'default_22', 'default_23', 'default_24']]

pg_default

,ID,default_0,default_1,default_2,default_3,default_4,default_5,default_6,default_7,default_8,...,default_15,default_16,default_17,default_18,default_19,default_20,default_21,default_22,default_23,default_24
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
# 2)'bons' e 'maus' ao longo de todos os 24 meses de desempenho
# Seu código aqui

In [25]:
pg['default']=pg_default.sum(axis=(1), skipna= True)

pg.loc[pg['default'] >= 1, 'tipo_clientes'] = 'mau_pagador'

pg.loc[pg['default'] < 1, 'tipo_clientes'] = 'bom_pagador'

pg_v1= pg[['ID', 'mes_0', 'mes_1', 'mes_2','mes_3', 'mes_4','mes_5', 'mes_6', 'mes_7', 'mes_8', 'mes_9', 
    'mes_10', 'mes_11', 'mes_12', 'mes_13', 'mes_14', 'mes_15', 'mes_16', 'mes_17', 'mes_18', 'mes_19',
    'mes_20', 'mes_21', 'mes_22', 'mes_23', 'mes_24','default', 'tipo_clientes']]
pg_v1

,ID,mes_0,mes_1,mes_2,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,...,mes_17,mes_18,mes_19,mes_20,mes_21,mes_22,mes_23,mes_24,default,tipo_clientes
0,5001718,0,0,0,0,0,0,0,NaN,0,...,0,0,0,NaN,NaN,NaN,0,NaN,0,bom_pagador
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,0,bom_pagador
2,5001720,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,bom_pagador
3,5001723,0,0,0,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,bom_pagador
4,5001726,0,0,0,0,0,0,C,C,C,...,C,C,C,C,C,C,C,C,0,bom_pagador
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,5150475,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,0,bom_pagador
20933,5150476,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,bom_pagador
20934,5150480,0,0,0,0,0,0,C,C,C,...,C,C,C,C,C,C,C,C,0,bom_pagador
20935,5150482,0,0,0,0,0,0,0,0,0,...,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,bom_pagador
20936,5150487,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,0,bom_pagador

In [26]:
pg_v1['tipo_clientes'].value_counts()

bom_pagador    20506
mau_pagador      431
Name: tipo_clientes, dtype: int64

In [27]:
pg_v1['default'].value_counts()

0     20506
1       175
2        69
3        48
4        28
6        19
5        17
12       13
8        10
10        7
18        6
15        5
13        4
20        4
9         4
7         4
14        4
24        3
19        3
11        3
16        2
17        2
23        1
Name: default, dtype: int64

In [12]:
175+69+48+28+19+17+13+10+7+6+5+(5*4)+(3*3)+2+2+1

431

In [21]:
# 3) Marcando proponentes expostos ao risco de crédito
# Seu código aqui

False    16260
True       390
Name: default, dtype: int64

In [69]:
propostas.shape

(438557, 18)

In [46]:
df=propostas.merge(pg_v1, on='ID', how='left')
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,mes_17,mes_18,mes_19,mes_20,mes_21,mes_22,mes_23,mes_24,default,tipo_clientes
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,NaN,0,0,NaN,C,C,C,0.0,bom_pagador
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df['default'].unique()

array([nan,  0.,  4., 20.,  1.,  6., 12.,  2.,  5.,  3.,  8., 18.,  7.,
       10., 23., 14., 19., 15., 16., 24.,  9., 11., 17., 13.])

In [72]:
df_riscred=df[~df['default'].isna()]
df_riscred

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,mes_17,mes_18,mes_19,mes_20,mes_21,mes_22,mes_23,mes_24,default,tipo_clientes
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,NaN,0,0,NaN,C,C,C,0.0,bom_pagador
5,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,C,C,C,C,C,C,C,C,0.0,bom_pagador
6,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,C,C,C,C,C,C,C,C,0.0,bom_pagador
11,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,...,NaN,0,0,0,NaN,0,0,0,0.0,bom_pagador
19,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,...,0,0,0,0,0,0,0,0,0.0,bom_pagador
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434800,5149042,F,N,Y,0,180000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,...,C,C,C,C,C,C,C,C,1.0,mau_pagador
434802,5149056,F,N,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,C,C,C,C,C,C,C,C,2.0,mau_pagador
434803,5149145,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,C,C,C,C,C,C,2.0,mau_pagador
434804,5149158,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,C,C,C,C,C,C,2.0,mau_pagador
434810,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,...,5,5,C,C,C,C,C,C,11.0,mau_pagador

In [77]:
# 4) Consolidando as informações 
# seu código aqui

#OBS: a consolidação das informações foram realizadas na etapa anterior

In [ ]:
# 5)Verificando - Faça uma contagem dos valores do default que você construiu.

In [79]:
df_riscred['tipo_clientes'].value_counts()

bom_pagador    16260
mau_pagador      390
Name: tipo_clientes, dtype: int64