# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [1]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [2]:
# 2) seu código aqui
df_sinasc = pd.DataFrame(sinasc)
df_sinasc.isna().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [3]:
# 3) seu código aqui

df_apgar5=df_sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']]

df_apgar5

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [4]:
df_apgar5.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [5]:
# 4) seu código aqui

df_v1 = df_apgar5[~df_apgar5['APGAR5'].isna()]

df_v1

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [6]:
df_v1.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [7]:
df_v1.shape

(26925, 9)

In [8]:
# 5) seu código aqui

df_v1.dtypes

LOCNASC         int64
IDADEMAE        int64
ESTCIVMAE     float64
ESCMAE         object
QTDFILVIVO    float64
GESTACAO       object
GRAVIDEZ       object
CONSULTAS       int64
APGAR5        float64
dtype: object

In [9]:
df_v1[df_v1['ESTCIVMAE'].isna()]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
62,1,20,NaN,NaN,1.0,37 a 41 semanas,Única,4,9.0
68,1,31,NaN,8 a 11 anos,0.0,37 a 41 semanas,Dupla,4,9.0
95,1,31,NaN,1 a 3 anos,1.0,37 a 41 semanas,Única,4,8.0
113,1,35,NaN,12 anos ou mais,1.0,37 a 41 semanas,Única,4,10.0
116,1,34,NaN,8 a 11 anos,1.0,37 a 41 semanas,Única,3,9.0
...,...,...,...,...,...,...,...,...,...
26585,1,22,NaN,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
26589,1,34,NaN,8 a 11 anos,3.0,37 a 41 semanas,Única,4,10.0
26911,1,33,NaN,4 a 7 anos,7.0,37 a 41 semanas,Única,4,10.0
26946,1,27,NaN,8 a 11 anos,1.0,37 a 41 semanas,Única,3,9.0
26953,1,23,NaN,4 a 7 anos,2.0,37 a 41 semanas,Única,3,9.0

In [10]:
df_v1[df_v1['CONSULTAS'].isna()]

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

In [11]:
df_v1['ESTCIVMAE'].fillna(9.0, inplace=True)

df_v1['CONSULTAS'].fillna(9, inplace=True)

/opt/anaconda/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [12]:
df_v1[63:70]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
63,1,27,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
64,1,18,5.0,4 a 7 anos,1.0,37 a 41 semanas,Única,3,10.0
65,1,30,5.0,4 a 7 anos,1.0,37 a 41 semanas,Única,4,9.0
66,1,23,5.0,NaN,1.0,37 a 41 semanas,Única,4,10.0
67,1,25,5.0,4 a 7 anos,3.0,37 a 41 semanas,Única,3,10.0
68,1,31,9.0,8 a 11 anos,0.0,37 a 41 semanas,Dupla,4,9.0
69,1,31,2.0,8 a 11 anos,0.0,37 a 41 semanas,Dupla,4,9.0

In [13]:
# 6) Seu código aqui

df_v1[df_v1['QTDFILVIVO'].isna()]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
119,1,28,1.0,8 a 11 anos,NaN,37 a 41 semanas,Única,3,9.0
877,1,29,5.0,4 a 7 anos,NaN,37 a 41 semanas,Única,4,10.0
2322,1,28,2.0,8 a 11 anos,NaN,42 semanas e mais,Única,4,10.0
2332,1,16,1.0,4 a 7 anos,NaN,37 a 41 semanas,Única,4,10.0
3631,1,36,2.0,12 anos ou mais,NaN,32 a 36 semanas,Única,4,9.0
...,...,...,...,...,...,...,...,...,...
26963,1,26,2.0,8 a 11 anos,NaN,37 a 41 semanas,Única,4,9.0
26965,1,20,2.0,8 a 11 anos,NaN,37 a 41 semanas,Única,4,9.0
26969,1,22,5.0,8 a 11 anos,NaN,32 a 36 semanas,Única,3,9.0
26972,1,18,1.0,8 a 11 anos,NaN,37 a 41 semanas,Única,3,10.0
26987,1,30,1.0,12 anos ou mais,NaN,22 a 27 semanas,Única,3,8.0

In [14]:
df_v1['QTDFILVIVO'].fillna(float(0), inplace=True)

/opt/anaconda/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [15]:
df_v1[df_v1['QTDFILVIVO'].isna()]

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

In [16]:
# 7) seu código aqui

df_v1.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [17]:
df_v1.shape

(26925, 9)

In [18]:
df_v1['ESCMAE'].unique()

array(['8 a 11 anos', '12 anos ou mais', '1 a 3 anos', '4 a 7 anos', nan,
       'Nenhuma'], dtype=object)

In [19]:
ESCMAE_1=df_v1.loc[df_v1['ESCMAE']=='Nenhuma'].shape
ESCMAE_2=df_v1.loc[df_v1['ESCMAE']=='1 a 3 anos'].shape
ESCMAE_3=df_v1.loc[df_v1['ESCMAE']=='4 a 7 anos'].shape
ESCMAE_4=df_v1.loc[df_v1['ESCMAE']=='8 a 11 anos'].shape
ESCMAE_5=df_v1.loc[df_v1['ESCMAE']=='12 anos ou mais'].shape
ESCMAE_6=df_v1.loc[df_v1['ESCMAE']=='Ignorado'].shape


print(ESCMAE_1)
print(ESCMAE_2)
print(ESCMAE_3)
print(ESCMAE_4)
print(ESCMAE_5)
print(ESCMAE_6)

print(len(df_v1))

(40, 9)
(510, 9)
(4727, 9)
(15581, 9)
(5757, 9)
(0, 9)
26925

In [20]:
26925-40-510-4727-15581-5757

310

In [21]:
print(f"Porcentagem de 'Nenhuma':{ (40/26925)*100}")
print(f"Porcentagem de '1 a 3 anos':{ (510/26925)*100}")
print(f"Porcentagem de '4 a 7 anos':{ (4727/26925)*100}")
print(f"Porcentagem de '8 a 11 anos':{ (15581/26925)*100}")
print(f"Porcentagem de '12 anos ou mais':{ (5757/26925)*100}")
print(f"Porcentagem de 'missings':{ (310/26925)*100}")

Porcentagem de 'Nenhuma':0.14856081708449395
Porcentagem de '1 a 3 anos':1.894150417827298
Porcentagem de '4 a 7 anos':17.556174558960073
Porcentagem de '8 a 11 anos':57.86815227483751
Porcentagem de '12 anos ou mais':21.381615598885794
Porcentagem de 'missings':1.1513463324048283

Consideração que os casos de missings existentes na coluna ESCMAE corresponde a 1,15% do total de registros (310/26925) e que nesta coluna não há nenhum caso registrado de "Ignorado", conforme Descrição da Estrutura do SINASC, provavelmente os casos de missings correspondam às hipóteses de "Ignorado" e tempo em vista que a percentagem é pequena não impactuará nos levantamentos original dos dados. Assim sendo, os casos de missings desta coluna será dado o tratamento de hipótese de "Ignorado

In [22]:
df_v1['ESCMAE'].fillna('Ignorado', inplace=True)

/opt/anaconda/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [23]:
df_v1.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE           0
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [24]:
df_v1['GESTACAO'].unique()

array(['37 a 41 semanas', '42 semanas e mais', '32 a 36 semanas',
       '22 a 27 semanas', '28 a 31 semanas', nan, 'Menos de 22 semanas'],
      dtype=object)

In [25]:
GESTACAO_1=df_v1.loc[df_v1['GESTACAO']=='Menos de 22 semanas'].shape
GESTACAO_2=df_v1.loc[df_v1['GESTACAO']=='22 a 27 semanas'].shape
GESTACAO_3=df_v1.loc[df_v1['GESTACAO']=='28 a 31 semanas'].shape
GESTACAO_4=df_v1.loc[df_v1['GESTACAO']=='32 a 36 semanas'].shape
GESTACAO_5=df_v1.loc[df_v1['GESTACAO']=='37 a 41 semanas'].shape
GESTACAO_6=df_v1.loc[df_v1['GESTACAO']=='42 semanas e mais'].shape
GESTACAO_7=df_v1.loc[df_v1['GESTACAO']=='Ignorado'].shape

print(GESTACAO_1)
print(GESTACAO_2)
print(GESTACAO_3)
print(GESTACAO_4)
print(GESTACAO_5)
print(GESTACAO_6)
print(GESTACAO_7)

print(len(df_v1))

(7, 9)
(85, 9)
(162, 9)
(2234, 9)
(22523, 9)
(698, 9)
(0, 9)
26925

In [26]:
print(f"Porcentagem de 'Menos de 22 semanas':{ (7/26925)*100}")
print(f"Porcentagem de '22 a 27 semanas':{ (85/26925)*100}")
print(f"Porcentagem de '28 a 31 semanas':{ (162/26925)*100}")
print(f"Porcentagem de '32 a 36 semanas':{ (2234/26925)*100}")
print(f"Porcentagem de '37 a 41 semanas':{ (22523/26925)*100}")
print(f"Porcentagem de '42 semanas e mais':{ (698/26925)*100}")
print(f"Porcentagem de 'Ignorado':{ (0/26925)*100}")
print(f"Porcentagem de 'missings':{ (1216/26925)*100}")

Porcentagem de 'Menos de 22 semanas':0.025998142989786442
Porcentagem de '22 a 27 semanas':0.31569173630454966
Porcentagem de '28 a 31 semanas':0.6016713091922006
Porcentagem de '32 a 36 semanas':8.297121634168988
Porcentagem de '37 a 41 semanas':83.65088207985144
Porcentagem de '42 semanas e mais':2.59238625812442
Porcentagem de 'Ignorado':0.0
Porcentagem de 'missings':4.516248839368616

In [27]:
7+85+162+2234+22523+698

25709

In [28]:
print(f"Porcentagem de 'Menos de 22 semanas' em relação ao total com dados:{ (7/25709)*100}")
print(f"Porcentagem de '22 a 27 semanas' em relação ao total com dados:{ (85/25709)*100}")
print(f"Porcentagem de '28 a 31 semanas' em relação ao total com dados:{ (162/25709)*100}")
print(f"Porcentagem de '32 a 36 semanas' em relação ao total com dados:{ (2234/25709)*100}")
print(f"Porcentagem de '37 a 41 semanas' em relação ao total com dados:{ (22523/25709)*100}")
print(f"Porcentagem de '42 semanas e mais' em relação ao total com dados:{ (698/25709)*100}")
print(f"Porcentagem de 'Ignorado' em relação ao total com dados:{ (0/25709)*100}")

Porcentagem de 'Menos de 22 semanas' em relação ao total com dados:0.027227819051693962
Porcentagem de '22 a 27 semanas' em relação ao total com dados:0.3306235170562838
Porcentagem de '28 a 31 semanas' em relação ao total com dados:0.6301295266249173
Porcentagem de '32 a 36 semanas' em relação ao total com dados:8.689563965926329
Porcentagem de '37 a 41 semanas' em relação ao total com dados:87.60745264304329
Porcentagem de '42 semanas e mais' em relação ao total com dados:2.7150025282974832
Porcentagem de 'Ignorado' em relação ao total com dados:0.0

Considerando que os casos de missings na coluna Gestação corresponde apenas 4,51% do total de registros existente no DataFrame (26.925 linhas) e que 83,65% deste total de registros do DataFrame corresponde à gestação de 37 a 41 semenas. Considerando que, caso seja desconsiderado a situação de missings, na nova porcentagem dos casos de Gestação de 37 a 41 semanas corresponderia a 87,60%, e os demais resgitros de gestação não surtiram grandes alterações. Conclui-se que, caso as situações de missings recebam tratamento como sendo de gestação de 37 a 41 semanas, a percentagem de 83,65% (acrescido de 4,51%) resultaria em uma percentagem de 88,16%, não muito divergente da percentagem de 87,60%. Enfim, neste caso o tratamento dos casos de missings como sendo de gestação de 37 a 41 semanas não impactuará no levantamento dos dados originais.

In [29]:
df_v1['GESTACAO'].fillna('37 a 41 semanas', inplace=True)

In [30]:
df_v1.isna().sum()

LOCNASC        0
IDADEMAE       0
ESTCIVMAE      0
ESCMAE         0
QTDFILVIVO     0
GESTACAO       0
GRAVIDEZ      76
CONSULTAS      0
APGAR5         0
dtype: int64

In [31]:
df_v1['GRAVIDEZ'].unique()

array(['Única', 'Dupla', nan, 'Tríplice e mais'], dtype=object)

In [32]:
GRAVIDEZ_1=df_v1.loc[df_v1['GRAVIDEZ']=='Única'].shape
GRAVIDEZ_2=df_v1.loc[df_v1['GRAVIDEZ']=='Dupla'].shape
GRAVIDEZ_3=df_v1.loc[df_v1['GRAVIDEZ']=='Tríplice e mais'].shape

print(GRAVIDEZ_1)
print(GRAVIDEZ_2)
print(GRAVIDEZ_3)

print(len(df_v1))

(26356, 9)
(488, 9)
(5, 9)
26925

In [33]:
print(f"Porcentagem de 'Única':{ (26356/26925)*100}")
print(f"Porcentagem de 'Dupla':{ (488/26925)*100}")
print(f"Porcentagem de 'Tríplice e mais':{ (5/26925)*100}")
print(f"Porcentagem de 'missings':{ (76/26925)*100}")

Porcentagem de 'Única':97.88672237697308
Porcentagem de 'Dupla':1.8124419684308262
Porcentagem de 'Tríplice e mais':0.018570102135561744
Porcentagem de 'missings':0.2822655524605385

In [34]:
26356+488+5

26849

In [35]:
print(f"Porcentagem de 'Menos de 22 semanas' em relação ao total com dados:{ (26356/26849)*100}")
print(f"Porcentagem de '22 a 27 semanas' em relação ao total com dados:{ (488/26849)*100}")
print(f"Porcentagem de '28 a 31 semanas' em relação ao total com dados:{ (5/26849)*100}")

Porcentagem de 'Menos de 22 semanas' em relação ao total com dados:98.16380498342583
Porcentagem de '22 a 27 semanas' em relação ao total com dados:1.81757234906328
Porcentagem de '28 a 31 semanas' em relação ao total com dados:0.01862266751089426

Considerando que os casos de missings na coluna Gravidez corresponde apenas 0,28% do total de registros existente no DataFrame (26.925 linhas) e que 97,88% deste total de registros do DataFrame corresponde à gravidez única. Considerando que, caso seja desconsiderado a situação de missings, na nova porcentagem dos casos de Gravidez única corresponderia a 98,16%, e os demais resgitros de gestação não surtiram grandes alterações. Conclui-se que, caso as situações de missings recebam tratamento como sendo de gravidez única, a percentagem de 97,88% (acrescido de 0,28%) resultaria em uma percentagem de 98,16%, praticamente correspondendo à porcentagem com a desconsideração da situação missings. Portanto, dando o tratamento dos casos de missings como sendo de gravidez única não impactuará no levantamento dos dados originais.

In [36]:
df_v1['GRAVIDEZ'].fillna('Única', inplace=True)

In [37]:
df_v1.isna().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [75]:
# 8) seu código aqui

df_v1.loc[df_v1['APGAR5']>=8.0, 'APGAR5_CAT']='Normal'

In [76]:
df_v1.loc[(df_v1['APGAR5']>=6.0) & (df_v1['APGAR5']<=7.0),'APGAR5_CAT']='Asfixia Leve'

In [77]:
df_v1.loc[(df_v1['APGAR5']>=4.0) & (df_v1['APGAR5']<=5.0),'APGAR5_CAT']='Asfixia Moderada'

In [78]:
df_v1.loc[df_v1['APGAR5']<=3.0,'APGAR5_CAT']='Asfixia Severa'

In [79]:
df_v1

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,APGAR5_CAT
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,Normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,Normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,Normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,Normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,Normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,Normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,Normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,Normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,Normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,Normal

In [80]:
df_v1['APGAR5_CAT'].unique()

array(['Normal', 'Asfixia Leve', 'Asfixia Severa', 'Asfixia Moderada'],
      dtype=object)

In [81]:
APGAR5_CAT_1=df_v1.loc[df_v1['APGAR5_CAT']=='Normal'].shape
APGAR5_CAT_2=df_v1.loc[df_v1['APGAR5_CAT']=='Asfixia Leve'].shape
APGAR5_CAT_3=df_v1.loc[df_v1['APGAR5_CAT']=='Asfixia Moderada'].shape
APGAR5_CAT_4=df_v1.loc[df_v1['APGAR5_CAT']=='Asfixia Severa'].shape

print(APGAR5_CAT_1)
print(APGAR5_CAT_2)
print(APGAR5_CAT_3)
print(APGAR5_CAT_4)

print(len(df_v1))

(26463, 10)
(320, 10)
(68, 10)
(74, 10)
26925

In [82]:
print(f"Porcentagem de 'APGAR5 Normal':{ (26463/26925)*100}")
print(f"Porcentagem de 'APGAR 5 - Asfixia Leve':{ (320/26925)*100}")
print(f"Porcentagem de 'APGAR 5 - Asfixia Moderada':{ (68/26925)*100}")
print(f"Porcentagem de ''APGAR 5 - Asfixia Severa:{ (74/26925)*100}")

Porcentagem de 'APGAR5 Normal':98.2841225626741
Porcentagem de 'APGAR 5 - Asfixia Leve':1.1884865366759516
Porcentagem de 'APGAR 5 - Asfixia Moderada':0.2525533890436397
Porcentagem de ''APGAR 5 - Asfixia Severa:0.2748375116063138

In [83]:
# 9) seu código aqui

df_v1.columns

Index(['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO',
       'GRAVIDEZ', 'CONSULTAS', 'APGAR5', 'APGAR5_CAT'],
      dtype='object')

In [84]:
df_v1.columns=['loc_nasc', 'idade_mae', 'est_civ_mae', 'esc_mae', 'qtd_fil_vivo', 'gestacao', 'gravidez', 'consultas', 'apgar_5', 'apgar_5_cat']

In [85]:
df_v1

,loc_nasc,idade_mae,est_civ_mae,esc_mae,qtd_fil_vivo,gestacao,gravidez,consultas,apgar_5,apgar_5_cat
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,Normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,Normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,Normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,Normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,Normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,Normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,Normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,Normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,Normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,Normal